/*!
 * bowling.css | CSS Virtual Bowling Scoring System
 *
 * Copyright 2015 Maja Gorzkowicz <gorzkowicz.maja@gmail.com> All rights reserved.
 */
body {
	font-family: arial;
}
table {
  border-collapse: collapse;
}

td, th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
  width: 40px;
}

input[type="button"]{
	background-color:#2dabf9;
	cursor:pointer;
	color:#ffffff;
	font-size:14px;
	padding:11px 23px;
	margin-top: 10px;
	margin-bottom: 10px;
}
input[type="button"]:hover{
	background-color:#06d3bb;
}